@model Nop.Plugin.Admin.OrderManagementList.Models.OrderManagementConfigurationModel
@{
    Layout = "_ConfigurePlugin";
}
@inject Nop.Core.IWebHelper webHelper

<form asp-controller="OrderManagement" asp-action="Configure" method="post">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <h2>Order management settings</h2>
                <br />
                <hr />
                <h3>
                    GLS Settings
                </h3>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="FTPHost" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="FTPHost" />
                        <span asp-validation-for="FTPHost"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="FTPUsername" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="FTPUsername" />
                        <span asp-validation-for="FTPUsername"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="FTPPassword" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="FTPPassword" />
                        <span asp-validation-for="FTPPassword"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="FTPLocalFilePath" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="FTPLocalFilePath" />
                        <span asp-validation-for="FTPLocalFilePath"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="FTPLocalFileName" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="FTPLocalFileName" />
                        <span asp-validation-for="FTPLocalFileName"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="FTPRemoteFolderPath" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="FTPRemoteFolderPath" />
                        <span asp-validation-for="FTPRemoteFolderPath"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="FTPRemoteStatusFilePath" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="FTPRemoteStatusFilePath" />
                        <span asp-validation-for="FTPRemoteStatusFilePath"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="FTPTempFolder" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="FTPTempFolder" />
                        <span asp-validation-for="FTPTempFolder"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="FTPPrinterName" />
                    </div>
                    <div class="col-md-9">
                        <span>Must start with P (etc. P002)</span>
                        <nop-editor asp-for="FTPPrinterName" />
                        <span asp-validation-for="FTPPrinterName"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="GLSStatusFileRetries" />
                    </div>
                    <div class="col-md-9">
                        <span>Number of retries to perform for status file</span>
                        <nop-editor asp-for="GLSStatusFileRetries" />
                        <span asp-validation-for="GLSStatusFileRetries"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="GLSStatusFileWaitSeconds" />
                    </div>
                    <div class="col-md-9">
                        <span>Number of seconds to wait in each retry for the status file</span>
                        <nop-editor asp-for="GLSStatusFileWaitSeconds" />
                        <span asp-validation-for="GLSStatusFileWaitSeconds"></span>
                    </div>
                </div>

                <hr />

                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <input type="submit" name="save" class="btn bg-primary" value="@T("Admin.Common.Save")" />
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>
<div class="field-validation-error">
    <h4>@Model.ErrorMessage</h4>
</div>
