@model Nop.Plugin.Admin.OrderManagementList.Models.OrderManagementConfigurationModel
@{
    Layout = "_ConfigurePlugin";
}
@inject Nop.Core.IWebHelper webHelper


<form asp-controller="OrderManagement" asp-action="Configure" method="post">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <h2>Order management settings</h2>
                <br />
                <hr />
                <h4>
                    GLS Settings
                </h4>
                <br />
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="FTPHost" />
                    </div>
                    <div class="col-md-9">
                        <span>Ex.:  ftp://5.189.157.82</span>
                        <nop-editor asp-for="FTPHost" />
                        <span asp-validation-for="FTPHost"></span>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-md-3">
                        <span>ftptest</span>
                        <nop-label asp-for="FTPUsername" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="FTPUsername" />
                        <span asp-validation-for="FTPUsername"></span>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-md-3">
                        <span>123456</span>
                        <nop-label asp-for="FTPPassword" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="FTPPassword" />
                        <span asp-validation-for="FTPPassword"></span>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="FTPLocalFilePath" />
                    </div>
                    <div class="col-md-9">
                        <span>Ex.: C:\\FTP\</span>
                        <nop-editor asp-for="FTPLocalFilePath" />
                        <span asp-validation-for="FTPLocalFilePath"></span>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="FTPLocalFileName" />
                    </div>
                    <div class="col-md-9">
                        <span>Ex.: GLS-Label-Info.txt</span>
                        <nop-editor asp-for="FTPLocalFileName" />
                        <span asp-validation-for="FTPLocalFileName"></span>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="FTPRemoteFolderPath" />
                    </div>
                    <div class="col-md-9">
                        <span>Ex.: Labels/GLS</span>
                        <nop-editor asp-for="FTPRemoteFolderPath" />
                        <span asp-validation-for="FTPRemoteFolderPath"></span>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="FTPRemoteStatusFilePath" />
                    </div>
                    <div class="col-md-9">
                        <span>Ex.: /Labels/GLS/Status/</span>
                        <nop-editor asp-for="FTPRemoteStatusFilePath" />
                        <span asp-validation-for="FTPRemoteStatusFilePath"></span>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="FTPTempFolder" />
                    </div>
                    <div class="col-md-9">
                        <span>Ex.: C:\\Temp\</span>
                        <nop-editor asp-for="FTPTempFolder" />
                        <span asp-validation-for="FTPTempFolder"></span>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-md-3">
                        <br />
                        <nop-label asp-for="FTPPrinterName" />
                    </div>
                    <div class="col-md-9">
                        <span>Must start with P (ex. P002)</span>
                        <nop-editor asp-for="FTPPrinterName" />
                        <span asp-validation-for="FTPPrinterName"></span>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-md-3">
                        <br />
                        <nop-label asp-for="GLSStatusFileRetries" />
                    </div>
                    <div class="col-md-9">
                        <span>Number of retries to perform to get status file with tracking number</span>
                        <nop-editor asp-for="GLSStatusFileRetries" />
                        <span asp-validation-for="GLSStatusFileRetries"></span>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-md-3">
                        <br />
                        <nop-label asp-for="GLSStatusFileWaitSeconds" />
                    </div>
                    <div class="col-md-9">
                        <span>Number of seconds to wait in each retry for the status file</span>
                        <nop-editor asp-for="GLSStatusFileWaitSeconds" />
                        <span asp-validation-for="GLSStatusFileWaitSeconds"></span>
                    </div>
                </div>
                <br />
                <br />
                <div class="form-group">
                    <div class="col-md-3">
                        <br />
                        <nop-label asp-for="DoCleanup" />
                    </div>
                    <div class="col-md-9">
                        <span>After printing label, delete all old status files</span>
                        <br />
                        <nop-editor asp-for="DoCleanup" />
                        <span asp-validation-for="DoCleanup"></span>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-md-3">
                        <br />
                        <nop-label asp-for="DaysToKeepStatusFiles" />
                    </div>
                    <div class="col-md-9">
                        <span>How old can status files be before cleanup will delete them</span>
                        <nop-editor asp-for="DaysToKeepStatusFiles" />
                        <span asp-validation-for="DaysToKeepStatusFiles"></span>
                    </div>
                </div>

                <hr />

                <h4>
                    General Settings
                </h4>
                <br />
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="DoCapture" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="DoCapture" />
                        <span asp-validation-for="DoCapture"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="DoSendEmails" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="DoSendEmails" />
                        <span asp-validation-for="DoSendEmails"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="ChangeOrderStatus" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="ChangeOrderStatus" />
                        <span asp-validation-for="ChangeOrderStatus"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="DoPrintLabel" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="DoPrintLabel" />
                        <span asp-validation-for="DoPrintLabel"></span>
                    </div>
                </div>

                <hr />

                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <input type="submit" name="save" class="btn bg-primary" value="@T("Admin.Common.Save")" />
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>
<div class="field-validation-error">
    <h4>@Model.ErrorMessage</h4>
</div>
