@using AO.Services.Orders.Models
@model List<AO.Services.Orders.Models.AOOrder>
@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<form asp-controller="OrderManagement" asp-action="List" method="post">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>Order management list</h4>
                <br /><br />

                @foreach (AOOrder order in Model)
                {
                    <span>@order.OrderId</span>
                    <span>@order.OrderDateTime</span>
                    <span>@order.ShippingInfo</span>
                    <br />
                }

            </div>
        </div>
    </div>
</form>
